<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/id_card.css">
</head>

<body>

    <div class="details">
        <div class="avatar shadow">
            <img class="avatar_image" width="105px" height="143px"
                src="https://i.pinimg.com/564x/ce/0e/2a/ce0e2a70a69678e93d43899ed6703959.jpg">
        </div>

        <div class="personal_info">
            <p>Emilia Clarke</p>

            <p style="margin-top: 20px">26/10/1986</p>
        </div>

    </div>

    <div class="id shadow">
        <img class="logo" src="../styles/assets/images/logo.png">
        <h1>Carteirinha Virtus</h1>

        <h2 class="situacao" style="margin-top:50px">Situação: ativo</h2>

        <h3 style="margin-top: 20px">Verifique a autenticicidade em: autenticicidade.souvirtus.com.br, </br> ou leia
            o
            QR code
            abaixo:</h3>

        <h4 style="margin-top:20px">678feb86-b604-4635-ade6-ae3917327e04</h4>

        <img class="qrcode" src="https://raw.githubusercontent.com/zpao/qrcode.react/HEAD/qrcode.png" alt="">

    </div>

    <label
        style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
        <input onchange="alert(" opa")" style="display:none" type="file" name="fileToUpload"
            accept=".png, .jpg, .jpeg"><br> Custom Upload </label>

</html>